In [86]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm
from sklearn import metrics 
import seaborn as sns

In [87]:
dataset = pd.read_csv("./dataset/spam.csv")

In [88]:
dataset.describe()

       Label               EmailText
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [89]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   object
 1   EmailText  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [90]:
dataset.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [91]:
dataset.tail()

     Label                                          EmailText
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham             Will Ã_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [92]:
x = dataset["EmailText"]
y = dataset["Label"]

In [93]:
x.shape

(5572,)

In [94]:
y.shape

(5572,)

In [95]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.4)

* In email there are sentences 
* We have to store word count 
* for that we can use count Vectorizer

In [96]:
count = CountVectorizer()  
features = count.fit_transform(x_train)

In [97]:
# Model
model = svm.SVC()

model.fit(features,y_train)

SVC()

In [98]:
# features1 = count.transform(x_test)
print(model.score(count.transform(x_test),y_test))

0.9829519964109467

In [99]:
y_pred = model.predict(count.transform(x_test))

In [100]:
metrics.accuracy_score(y_pred,y_test)

0.9829519964109467